.nav {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 2000;
    width: 715px;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 60px;
    border-radius: 20px;
}

.txtNav {
    font-size: 1.4em;
    white-space: nowrap;
    cursor: pointer;
    transition: 1s;
}

.txtNav:hover {
    scale: 0.9;
}

.blockGame {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    padding: 50px;
    position: relative;
    top: 70px;
}

.game {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0%;
    box-shadow: 0px 0px 47px -10px rgba(0, 0, 0, 0.75);
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.linkGame {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2000;
}

.imgGame {
    width: 100%;
    height: 80%;
    position: absolute;
    transition: 2s;
    z-index: -2000;
    top: 0;
}

.titreGame {
    font-size: 1.5em;
    padding: 10px 15px 10px 15px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    width: 250px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
    z-index: -2000;
}

.game:hover .titreGame {
    width: 90%;
}

.game:hover .imgGame {
    scale: 1.5;
}

.eval {
    width: 100%;
    height: 20%;
    background-color: rgb(74, 78, 87);
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    color: white;
}

@media screen and (max-width: 750px) {
    .nav {
        flex-direction: column;
        height: max-content;
        gap: 15px;
        width: max-content;
        padding: 15px;
        top: 70px;
    }

    .txtNav {
        font-size: 1em;
    }

    .blockGame {
        top: 100px;
    }

    .double {
        padding-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .blockGame {
        padding: 50px 0px 50px 0px;
    }

    .imgGame {
        object-fit: cover;
    }

    .game {
        width: 90%;
    }

    .eval {
        gap: 50px;
    }
}