* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
}